
    <div id='MODE' data-row='<%= process.env.MODE %>'></div>
    <script src='/static/dist/fontawesome.js'></script>
    <script src='/static/dist/d3/d3.min.js'></script>
    <script src='/static/dist/jquery.min.js'></script>
    <script src='static/dist/popper.min.js'></script>
    <script src='/static/dist/bootstrap/js/bootstrap.min.js'></script>
    <script src='/static/dist/bootstrap-select/js/bootstrap-select.min.js'></script>
    <script type='module' src='/static/js/pollution/main.js'></script>