
<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8"/>
	<title>Document</title>
	<link rel = "stylesheet" type = "text/css" href = "static/css/styles.css" />
</head>

<body>

<h1> TESTS BT </h1>

<div id="chart"></div>

<script id="d3" src="https://d3js.org/d3.v5.min.js"></script>
</body>


</html>