
<!DOCTYPE html>
<html lang='fr'>

<head>
	<meta charset='UTF-8'>
	<title>Generator</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link rel="stylesheet" href="/static/css/generator.css">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
</head>

<body>

<div class='container' id='app'>

    <div class="container-fluid text-center text-white">
        <h1 class=''>Graph Generator</h1>
        <p class=''> Just drag an drop your JSON File too see possibilities </p> 
    </div>

    <dragarea v-on:charged='jsonCharged'></dragarea>
    <graphsettings v-if='json' :json='json'></graphsettings> <!-- Remplacer par json le "true" -->
    <graph v-if='showGraph' :json='json'></graph>

</div>


<%- include includes/scripts_env.ejs %>
<script src="/static/js/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script type='text/javascript' src='/static/js/generator/dropzone.js'></script>
<script type='module' src='/static/js/generator/generator.js'></script>

</body>
</html>