
<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='fr'>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css'>
    <link rel= 'stylesheet' href='/static/css/style_home.css' />
</head>

<body>

    <header>
        <div id='banner'>
            <p id ='titre'>DATA VISUALTION</p>
        </div>
    </header>
    
    <div id='general-menu'>
        <a href='/generator' class='nav-link' id='generator'>Generator</a>       
        <div class ='well'><p style='font-weight: bold'>Estimation des émissions de CO2 </p><p><br> Dues à la combustion de combustibles fossiles, à la production de ciment et au gaz brûlés à la torchère. En milliers de tonnes de dioxyde de carbone pour les
        pays ou/et en tonne par habitant</p>
    </div>  

    <div class ='container'> 
        <div class ='row'>
            <div id='legend' class ='col-lg-9'></div>
        </div>
        <div class ='row'>
            <div id='vis' class='col-lg-3'> </div>
            <div id='chart' class = 'col-lg-9'></div>        
        </div>
        <div class ='row'>
            <div id='controls-continent' class="col-lg-3">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input radio-choice" id="radio-continent" name="choice"  checked>
                    <label class="custom-control-label" for="radio-continent">Par Continent</label>
                </div>
                <select class='selectpicker sContinent' multiple data-live-search='true' title='Choose' id='selectOption'>
                    <optgroup label='Continent' data-max-options='1' id='Continent'>
                        <option id='Asie' class = 'option-continent' value='1' >Asie</option>
                        <option id='Africa' class = 'option-continent' value='2'>Africa</option>
                        <option id='Europe' class = 'option-continent' value='3' selected>Europe</option>
                        <option id='NorthAmerica' class = 'option-continent' value='4'>North America</option>
                        <option id='SouthAmerica' class = 'option-continent' value='5'>South America</option>
                        <option id='Oceania' class = 'option-continent' value='6'>Oceania</option>
                        <option id='Top' class = 'option-continent' value='7'>Top 10</option>
                    </optgroup>
                </select>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input radio-choice" id="radio-country" name="choice">
                    <label class="custom-control-label" for="radio-country">Par pays</label>
                </div>
                <select class='selectpicker scountry' multiple data-live-search='true' id='selectOption'>
                    <optgroup label='Pays' id='Pays' data-max-options='10'>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class ='row'>
            <div id='timeLine' class='col-lg-3'> 
                <button id='play-button'>Play</button>
            </div>
        </div>    

        <div class ='row'>
            <div class="col-lg-3"> 
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input radio-t" id="total" name="pollu"  checked>
                    <label class="custom-control-label" for="total">Pollution par pays</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input radio-t" id="per-capita" name="pollu">
                    <label class="custom-control-label" for="per-capita">Pollution par habitants</label>
                </div>
            </div>
        </div>

        <div class ='row'>
            <div class='col-lg-3'>
                <h3> Choix de la représentation</h3>
                <img class ="image" src="/static/img/BubbleChart.png" style="margin-bottom: 10px;">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input radio-rp" id="bubble" name="repres" checked>
                    <label class="custom-control-label" for="bubble">Bubble Chart</label>
                </div>
                <img class ="image" src="/static/img/BubbleChart.png">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input radio-rp" id="graph" name="repres" >
                    <label class="custom-control-label" for="graph">Graph</label>
                </div>
            </div>
        </div>
    </div>
    
    <%- include includes/scripts_env.ejs %>
    <script type='module' src='/static/js/pollution/main.js'></script>
    
</body>
</html>

