
<!DOCTYPE svg PUBLIC “-//W3C//DTD SVG 1.1//EN”
“http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd”> 

<html lang='en-EN'>

<head>
    <link rel='stylesheet' href='/static/dist/bootstrap/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/dist/bootstrap-select/css/bootstrap-select.min.css'>
    <link rel= 'stylesheet' media='screen' href='/static/css/style_home.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset='UTF-8'>
</head>

<body>

    <header>
        <div class ='container'>
            <img src="/static/img/logo.png" class='img-fluid' alt="logo" id='logo'>
        </div>
    </header>
    <section>
        <div class="container" id='head-description'>
            <div class='row'>  
                <div class="col">
                        <p style='font-weight: bold'>Estimation des émissions de CO2 </p>
                </div>
            </div>
            <div class='row'>
                <div class="col">
                    <p>
                        Dues à la combustion de combustibles fossiles, à la production de ciment et au gaz brûlés à la torchère. En milliers de tonnes de dioxyde de carbone pour lespays ou/et en tonne par habitant 
                    </p>
                </div>
            </div>        
        </div>
    </section>
    
    <section id='main'>
        <div class='container' id='subject'>
            <div class ='row'>
                <div class='col'>
                    <div class="row">
                        <div class='container'>
                            <div class='row justify-content-center' id='legend'>    
                                <div class="col-6 col-md-4 col-lg-2 l" style='background: #2ca02c; height : 30px'> <p class='pl'> Pas polluant </p>  </div>
                                <div class="col-6 col-md-4 col-lg-2 l" style='background: #cbdc01; height : 30px'> <p class='pl'> Trés peu polluant </p>  </div>
                                <div class="col-6 col-md-4 col-lg-2 l" style='background: #1f77b4; height : 30px'> <p class='pl'> Peu polluant </p>  </div>
                                <div class="col-6 col-md-4 col-lg-2 l" style='background: #ff7f0e; height : 30px'> <p class='pl'> Polluant </p>  </div>
                                <div class="col-6 col-md-4 col-lg-2 l" style='background: #d62728; height : 30px'> <p class='pl'> Trés polluant </p>  </div>
                                <div class="col-6 col-md-4 col-lg-2 l" style='background: #8c564b; height : 30px'> <p class='pl'> Dangereux </p> </div>
                                <div class="col-12 col-md-12 col-lg-4 l" style='background: #581845; height : 30px'> <p class='pl'> Destructeur </p> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row fluid" id='first-line'>
                        <div class="col-lg-4">  
                             <div class="row">
                                <div class='col'>
                                    <div id='vis' class='row'></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">  
                            <div class="row">
                                <div class="col" style='text-align: center;'> 
                                    <div class="custom-control custom-radio custom-inline type">
                                        <input type="radio" class="custom-control-input radio-t menu-input" id="total" name="pollu"  checked>
                                        <label class="custom-control-label" for="total">Pollution par pays</label>
                                    </div>
                                </div>
                                <div class='col'>
                                    <div class="custom-control custom-radio custom-inline type">
                                        <input type="radio" class="custom-control-input radio-t menu-input" id="per-capita" name="pollu">
                                        <label class="custom-control-label" for="per-capita">Pollution par habitants</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="row" id="main-content">
                        <div class="col-lg-4">
                            <div class ='row main-menu justify-content-center'>
                                <div id='controls-continent' class="col" >
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input radio-choice" id="byContinent" name="choice"  checked>
                                        <label class="custom-control-label" for="byContinent">Par Continent</label>
                                    </div>
                                    <select class='selectpicker' data-live-search='true' title='Choose' id='selectContinent' >
                                        <optgroup label='Continent' id='Continent'>
                                            <option id='Asie' class = 'option-continent' value='1' >Asie</option>
                                            <option id='Africa' class = 'option-continent' value='xs-6'>Africa</option>
                                            <option id='Europe' class = 'option-continent' value='3' selected>Europe</option>
                                            <option id='NorthAmerica' class = 'option-continent' value='4'>North America</option>
                                            <option id='SouthAmerica' class = 'option-continent' value='5'>South America</option>
                                            <option id='Oceania' class = 'option-continent' value='6'>Oceania</option>
                                        </optgroup>
                                    </select>
                                    <div class="custom-control custom-radio " style='text-align: none'>
                                        <input type="radio" class="custom-control-input radio-choice" id="byCountry" name="choice">
                                        <label class="custom-control-label" for="byCountry">Par pays</label>
                                    </div>
                                    <select class='selectpicker' multiple data-live-search='true' id='selectCountry' >
                                        <optgroup label='Pays' id='Pays' data-max-options='10' >
                                        </optgroup>
                                    </select>                          

                                    <div class="custom-control custom-radio " style='text-align: none'>
                                        <input type="radio" class="custom-control-input radio-choice" id="Top10" name="choice">
                                        <label class="custom-control-label" for="Top10">Top 10</label>
                                    </div>
                                </div>
                            </div>

                            <div class ='row'>
                                <div class="col">
                                    <div class="row">
                                        <div id='timeLine' class='col'></div> 
                                    </div>    
                                    <div class="row">
                                        <div class="col text-center">
                                            <button  class='btn btn-danger' id='play-button'> <span> Play </span> </button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div id="cllp" class="collapse">                      
                                <div class ='row' id='zoom'>                                
                                    <div class='zoom  col'>
                                        <p class ="text-zoom"> Zoom</p>
                                        <button id='button-moins' class='btn btn-info'> <i class='fas fa-search-minus'></i> </button>
                                        <button id='button-plus' class='btn btn-info'> <i class='fas fa-search-plus'></i> </button>                              
                                    </div>
                                </div>
                            </div>
                            <div class ='row'>
                                <div class='col'>
                                    <h3> Choix de la représentation</h3>
                                    <div class ="main-img">
                                        <div class ="img">
                                            <label for="bubble">
                                                <img class ="image" src="/static/img/BubbleChart.png" style="margin-bottom: 10px;">
                                            </label>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input radio-rp" id="bubble" name="repres" data-toggle="collapse" data-target="#cllp" checked>
                                                <label class="custom-control-label" for="bubble">Bubble Chart</label>
                                            </div>
                                        </div>
                                        <div class="img">
                                            <label for='graph'>
                                                <img class ="image custom-inline" src="/static/img/Graph.png">
                                            </label>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input radio-rp" id="graph" name="repres"  data-toggle="collapse" data-target="#cllp">
                                                <label class="custom-control-label" for="graph">Graph</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div id="chart" class='col-lg-8'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col" id='footer'>   
                    Projet pour l'UE LIFPROJET, UCBL1
                    <br>
                    JEAUSEAU Baptiste P1509933
                    <br>
                    OLIVIE Maxime P1710179
                </div>
            </div>
        </div>
    </footer>

    </div>
    <%- include includes/scripts_env.ejs %>
</section>
</html>

