
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel= "stylesheet" href="/static/css/style_home.css" />
</head>

<body>

    <header>
        <div id="banner">
            <p id ="titre">DATA VISUALTION</p>
        </div>
    </header>
    
    <a href="/generator" class='nav-link' id="generator">Generator</a>

    <div id="controls-continent">
        <input id="Europe" class='radio radio-c' type="radio" name="continent" checked='true'>
        <label for="Europe">Europe</label>
        <input id="Asie" class='radio radio-c' type="radio" name="continent">
        <label for="Asie">Asie</label>
        <input id="NorthAmerica" class='radio radio-c' type="radio" name="continent">
        <label for="NorthAmerica">North America</label>
        <input id="SouthAmerica" class='radio radio-c' type="radio" name="continent">
        <label for="SouthAmerica">South America</label>
        <input id="Oceania" class='radio radio-c' type="radio" name="continent">
        <label for="Oceania">Oceania</label>
        <input id="Africa" class='radio radio-c' type="radio" name="continent">
        <label for="Africa">Africa</label>
        <input id="World" class='radio radio-c' type="radio" name="continent">
        <label for="World">World</label>
        <input id="Top" class='radio radio-c' type="radio" name="continent">
        <label for="Top">Top 10</label>
    </div>

    <div id="controls-year">
        <input id="1975" class='radio radio-y' type="radio" checked='true' name='year'>
        <label for="1975">1975</label>
        <input id="1985" class='radio radio-y' type="radio" checked='true' name='year'>
        <label for="1985">1985</label>
        <input id="1995" class='radio radio-y' type="radio" checked='true' name='year'>
        <label for="1995">1995</label>
        <input id="2005" class='radio radio-y' type="radio" checked='true' name='year'>
        <label for="2005">2005</label>
        <input id="2010" class='radio radio-y' type="radio" name='year'>
        <label for="2010">2010</label>
        <input id="2012" class='radio radio-y' type="radio" checked='true' name='year'>
        <label for="2012">2012</label>
        <input id="2013" class='radio radio-y' type="radio" checked='true' name='year'>
        <label for="2013">2013</label>
        <input id="2014" class='radio radio-y' type="radio" checked='true' name='year'>
        <label for="2014">2014</label>
    </div>
    
    <p>Estimation des émissions de CO2 <br> Dues à la combustion de combustibles fossiles, à la production de ciment et au gaz brûlés à la torchère (milliers de tonnes de dioxyde de carbone)</p>
   
    <div id="chart" class = "svg-container"></div>

    <%- include includes/scripts_env.ejs %>
    <script type='module' src="/static/js/script_home.js"></script>

</body>
</html>

