
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/dist/bootstrap/css/bootstrap.min.css">
        <link rel= "stylesheet" href="/static/css/style_index.css" />
    </head>

    <body>
        <div id="index">
            <div class="index_text">
                <h1>DATA VISUALISATION</h1>
                <br>
                <a href="/home" class="btn btn-default btn-lg">Get Started</a>
            </div>
        </div>
    </body>

</html>
