
<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel = "stylesheet" type = "text/css" href = "static/css/styles.css" />
</head>

<body>

<h1> DATASET </h1>

<select id="select">
	<% countries.forEach(function(country) {%>
		<OPTION> <%= country %> </OPTION> <%})%>
	</select> 

<div id="chart">
</div>




<div id="MODE" data-row='<%= process.env.MODE %>'></div>


<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="https://d3js.org/d3.v5.js"></script>
<script type='module' src='/static/js/utils.js'></script>
<script type='module' src="/static/js/max.js"></script>

</body

</html>