
<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel = "stylesheet" type = "text/css" href = "static/css/styles.css" />
</head>

<body>

<h1> DATASET </h1>

<select id="select">
	<% countries.forEach(function(country) {%>
		<OPTION> <%= country %> </OPTION> <%})%>
</select> 

<div id="chart"></div>


<%- include includes/scripts_env.ejs %>
<script type='module' src="/static/js/max.js"></script>

</body>
</html>